@model SalesOrder.Web.Models.SoOrderModel

@{
    var rowNumber = 0;
}

@foreach (var order in Model.ListOrders)
{
    rowNumber++;
    <tr>
        <td>@rowNumber</td>
        <td>
            <a asp-controller="SalesOrder" asp-action="AddEditOrder" asp-route-id="@order.OrderId" class="btn btn-light"><i class="bi bi-pencil-square"></i></a>
            <a class="btn btn-light delete-order" data-id="@order.OrderId"><i class="bi bi-trash3-fill"></i></a>
        </td>
        <td><strong>@order.OrderNumber</strong></td>
        <td>@order.OrderDate.ToString("yyyy-MM-dd")</td>
        <td>@order.Customer.CustomerName</td>
    </tr>
}